[Desktop Entry]
Name=controllermap
Comment=SDL2 Controller Mapper
Exec=./controllermap.sh
Logo=logo.png
Terminal=false
Type=Application
StartupNotify=true
Icon=logo
Categories=applications;
X-OD-Manual=readme.gcw0.txt
X-OD-NeedsJoystick=true
